{% extends "base.html" %}


{% block content %}
</div>
<div class="d-flex flex-column mb-3 p-2 ">
    {{user.full_name()}}
    <a href="/logout" class="btn btn-info">Logout</a>
    <a href="/sightings/new" class="btn btn-primary">Report A Sighting</a>

</div>
</nav>
<div class="container">
    <div class="row">

        <div class="col-6">

{% if sightings %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Reported Sightings</th>
            </tr>
        </thead>
        <tbody>
            {% for sighting in sightings %}
                <tr>
                    <td>
                        <div class="d-flex justify-content-between">
                        <div>

                            {{ sighting.location }} - <span class="text-info">{{ sighting.date}}</span> <br>
                            Reported By: {{sighting.user.full_name()}} 
                        </div>
                    
                        <div class="">

                            <a class="btn btn-primary" href="/sightings/{{ sighting.id }}">View</a>
                            {% if session["user_id"] == sighting.user_id %}
                            <a class="btn btn-info" href="/sightings/{{ sighting.id }}/edit">Edit</a>
                            <a class="btn btn-danger" href="/sightings/{{ sighting.id }}/delete">Delete</a>
                            {% endif %}
                        </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="alert alert-info">We don't have any sightings, add the first! <a href="/sightings/new">Click here</a> to Report a Sighting</div>
{% endif %}
        </div>
    </div>
</div>

{% endblock %}