{% extends "base.html" %}

{% block content %}
    {% with errors = get_flashed_messages() %} 
    {% if errors %}
        <div class="alert alert-danger">
            <h5>Woops! You've some errors that you need to fix:</h5>
            <ul>
            {% for error_message in errors %}
            <li>{{ error_message }}</li>
            {% endfor %}
            </ul>
        </div>
    {% endif %} 
  {% endwith %}
    <div class="container mt-5">
        <h1>Login</h1>
        <form method="post" action="/login">
            <div class="mb-3">
                <label>Email:</label>
                <input type="text" name="email" class="form-control">
            </div>
            <div class="mb-3">
                <label>Password:</label>
                <input type="password" name="password" class="form-control">
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Log in</button>
            </div>
        </form>
    </div>
{% endblock %}