<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="d-flex justify-content-between p-lg-2">
        <h1>New Cookie Order</h1>
        <a href="/">Back to Purchases</a>
    </div>
    <form action="/cookies/create" method="post" class="col-6 mx-auto">
        {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
            {% if messages %}                            <!-- check if there are any messages -->
                {% for message in messages %}            <!-- loop through the messages -->
                    <p class= "error">{{message}}</p>                   <!-- display each message in a paragraph tag -->
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="form-group">
            <label for="customer_name">Name:</label>
            <input type="text" name="customer_name" class="form-control">
        </div>
        <div class="form-group">
            <label for="cookie_type">Cookie type:</label>
            <input type="text" name="cookie_type" class="form-control">
        </div>
        <div class="form-group">
            <label for="num_boxes">Number of Boxes:</label>
            <input type="text" name="num_boxes" class="form-control">
        </div>
        <input type="submit" value="Create" class="btn btn-success">
    </form>
</body>
</html>