<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>HTML Tables</title>

</head>
<body>
    <div>
        <table class="border border-success">
            <thead class="border border-success">
                <th class="border border-success p-1">First Name</th>
                <th class="border border-success p-1">Last Name</th>
                <th class="border border-success p-1">Full Name</th>
            </thead>
            <tbody class="border border-success">
                {% for user in users %}
                    <tr class="border border-success">
                        <td class="border border-success p-1"> {{ user["first_name"] }} </td>
                        <td class="border border-success p-1"> {{ user["last_name"]}} </td>
                        <td class="border border-success p-1"> {{ user["first_name"] + " " + user["last_name"] }} </td>
                    </tr>
                {% endfor %}
    
            </tbody>
    
        </table>

    </div>
    

</body>
</html>